{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="login">
    <h1>Login</h1>

    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        <div class="username">
            <label for="username" name="username">Username</label>
            <input type="text" name="username" id="username">
        </div>

        <div class="password">
            <label for="password" name="password">Password</label>
            <input type="password" name="password" id="password">
        </div>

        <button type="submit">Login</button>
    </form>

    <div class="extend_links">
        <a href="{% url 'reset_password' %}">Forgot Password?</a>
        <a href="{% url 'register' %}">Register</a>
    </div>
</section>
{% endblock %}